body {
  margin: 0px;
  padding: 0px;
  background-color: brown;
}

header {
  margin: 0px;
  padding: 0px;
  background-color: rgb(56, 58, 58);
  width: 100%;
  height: 50px;
  /* background: url(Dota-2-Logo-PNG-HD.png) no-repeat */
}
a {
  color: #000;
  margin-left: 30px;
}
.menu {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  margin-top: -65px;
}
.hero {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: rgb(56, 58, 58);
}
.btn-hero span {
  position: absolute;
  margin-top: -74px;
  margin-left: -24px;
  color: #ffffff;
  font-weight: 700;
  opacity: 0;
}
.btn-hero {
  width: 200px;
  height: 100px;
  border-radius: 25px;
  overflow: hidden;
}
.btn-hero img {
  margin-left: -12px;
  height: 124px;
  margin-top: -12px;
}
.btn-hero:hover img{
  filter: blur(5px) brightness(30%);
}
.btn-hero:hover span{
  opacity: 1;

} 
.btn-hero:hover {
  scale: 1.2;
}
.btn-hero,.btn-hero img,.btn-hero span {
  transition: all 1s;
}